# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/assets/images/download
/src/assets/images/convert
/src/assets/images/valentines-flower.png
/src/assets/images/kelopak-empat.png
/public/_synctest.txt
/src/assets/images/artificial-flowers-vase_bw_inverted.png
/src/assets/images/gradient.png
/src/assets/images/fotodiri_bw_2.jpg
/src/assets/images/fotodiri_bw_1.jpg
/src/assets/images/fotodiri.jpg
/src/assets/images/beautiful-black-white-minimal-design.jpg
/dist/index.html
/dist/_redirects
/dist/_synctest.txt
/dist/posts/ai-trust-vs-trustworthiness.md
/dist/assets/artificial-flowers-vase-DkskryUH.jpg
/dist/favicon.ico
/dist/posts/index.json
/dist/assets/index-C1tusk0A.css
/dist/assets/index-DGceDcus.js
/dist/
